.top_title_wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.top_subtitle_wrapper {
    margin-top: 16px;
}

.other_area_wrapper {
    margin-top: 16px;
    padding: 8px;
}

.other_area_list {
    list-style: none;
    margin: 0px;
    padding: 8px;
}

.category_content_wrapper {
    margin-top: 24px;
}

.other_category_wrapper {
    margin-top: 8px;
    padding: 8px;
}

.new_spot_wrapper {
    padding: 16px 0px;
}

.spot_subtitle_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.spot_introduction_wrapper {
    margin-top: 12px;
    height: 100px;
}

.spot_table_head {
    text-align: left;
    width: 90px;
}

.like_btn_wrapper {
    padding: 0px 8px;
    display: flex;
    justify-content: flex-end;
}

.search_result_wrapper {
    width: 100%;
}

.complex_search_wrapper {
    padding: 24px 0px;
    display: flex;
}

.search_pagination_wrapper {
    margin: 24px 0;
    width: 100%;
    text-align: center;
}

.spot_detail_subtitle_wrapper {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.spot_detail_avatar_wrapper {
    display: flex;
    justify-content: center;
}

.spot_detail_divider {
    margin: 16px 0px;
    border: 1px solid #eeeeee;
}

.google_map_wrapper {
    width: 100%;
    height: 400px;
}

.google_map_pin {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -10px;
    top: -10px;
    border: 5px solid #f33336;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    color: #3f51b5;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
}

.review_content_wrapper {
    margin: 32px 0px;
}

.review_title_wrapper {
    display: flex;
    justify-content: space-between;
}

.about_page_wrapper {
    padding: 32px;
}